<h2 mat-dialog-mat-dialog-title>{{componentSchedule.PRODUCT_NR}} - {{componentSchedule.PRODUCT_NAME}}</h2>
  <div class="component-items-container">
    <div *ngIf="componentSchedule!=undefined"> 
      <div class="ag-theme-balham">
        <ag-grid-angular 
        class="ag-theme-balham"
        [rowData]="componentSchedule.SCHEDULE"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  
  </div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>