
<div>
  <mat-tab-group [selectedIndex]="tabsToSwitch[selectedTab]">
      <mat-tab label="Godzinowo">
        <div class="perf-table-container" *ngIf="ScanningItems.length>0">
          <table mat-table [dataSource]="ScanningItems" class="perf-table">
        
            <!-- Date Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let row">{{ row.Date | date: 'yyyy-MM-dd' }}</td>
            </ng-container>
        
              <!-- ScanningHour Column -->
              <ng-container matColumnDef="ScanningHour">
                <th mat-header-cell *matHeaderCellDef> Godzina </th>
                <td mat-cell *matCellDef="let row; let iRow = index">{{ row.ScanningHour}}</td>
              </ng-container>
        
              <!-- Zfin Column -->
            <ng-container matColumnDef="Zfin">
              <th mat-header-cell *matHeaderCellDef> Produkt </th>
              <td mat-cell *matCellDef="let row; let iRow = index" [attr.rowspan]="rowSpans[0][iRow].span"
              [style.display]="rowSpans[0][iRow].span === 0 ? 'none'  : ''">{{ row.Zfin }}</td>
            </ng-container>
        
            <!-- ConfirmedKg Column -->
            <ng-container matColumnDef="ConfirmedKg">
              <th mat-header-cell *matHeaderCellDef> Potwierdzono w MES [KG] </th>
              <td mat-cell *matCellDef="let row; let iRow = index" [attr.rowspan]="rowSpans[1][iRow].span"
              [style.display]="rowSpans[1][iRow].span === 0 ? 'none'  : ''">{{ row.ConfirmedKg.toFixed(1) }}</td>
            </ng-container>
        
            <!-- Contaminated Column -->
            <ng-container matColumnDef="Contaminated">
              <th mat-header-cell *matHeaderCellDef> Odrzut XRay </th>
              <td mat-cell *matCellDef="let row; let iRow = index" [attr.rowspan]="rowSpans[2][iRow].span"
              [style.display]="rowSpans[2][iRow].span === 0 ? 'none'  : ''">{{ row.Contaminated}}</td>
            </ng-container>
        
              <!-- Quantity Column -->
              <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> Ilość [PC] </th>
                <td mat-cell *matCellDef="let row">{{ row.Quantity }}</td>
              </ng-container>
        
              <!-- QuantityKg Column -->
              <ng-container matColumnDef="QuantityKg">
                <th mat-header-cell *matHeaderCellDef> Ilość [KG] </th>
                <td mat-cell *matCellDef="let row">{{ row.QuantityKg.toFixed(1) }}</td>
              </ng-container>
        
              <!-- FoilLossPercentage Column -->
              <ng-container matColumnDef="FoilLossPercentage">
                <th mat-header-cell *matHeaderCellDef> Strata folii [%] </th>
                <td mat-cell *matCellDef="let row">{{ row.FoilLossPercentage.toFixed(1) }}</td>
              </ng-container>
        
              <!-- Speed Column -->
              <ng-container matColumnDef="Speed">
                <th mat-header-cell *matHeaderCellDef> Prędkość średnia [szt/min] </th>
                <td mat-cell *matCellDef="let row"
                [ngClass]="{
                  'uncompareable' : row.ChangeOvers > 0,
                  'positive' : row.Speed > row.AssumedSpeed,
                  'negative' : row.Speed < row.AssumedSpeed
               }">{{ row.Speed }}</td>
              </ng-container>
        
              <!-- SpeedDiff Column -->
              <ng-container matColumnDef="GE">
                <th mat-header-cell *matHeaderCellDef> GE </th>
                <td mat-cell *matCellDef="let row"
                [ngClass]="{
                  'uncompareable' : row.ChangeOvers > 0,
                  'positive' : row.Speed > row.AssumedSpeed,
                  'negative' : row.Speed < row.AssumedSpeed
               }">{{ row.GE.toFixed(1) }}</td>
              </ng-container>
        
              <!-- ChangeOvers Column -->
              <ng-container matColumnDef="ChangeOvers">
                <th mat-header-cell *matHeaderCellDef> Przezbrojenia </th>
                <td mat-cell *matCellDef="let row">{{ row.ChangeOvers }}</td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="no-records" *ngIf="ScanningItems.length===0">Brak danych z ostatnich 24 godzin..</div>
      </mat-tab>
      <mat-tab label="Zmianowo">
        <ng-template matTabContent>
          <app-shift-view [scanningItems]="ScanningItems"></app-shift-view>
        </ng-template>
      </mat-tab>
      <mat-tab label="Wykres">
        <ng-template matTabContent>
          <app-performance-chart [scanningItems]="ScanningItems"></app-performance-chart>
        </ng-template>
      </mat-tab>
  </mat-tab-group>
</div>

