
<div class="perf-table-container">
  <table mat-table [dataSource]="ScanningItems" class="perf-table">
    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let row">{{ row.Date | date }}</td>
    </ng-container>

      <!-- ScanningHour Column -->
      <ng-container matColumnDef="ScanningHour">
        <th mat-header-cell *matHeaderCellDef> Godzina </th>
        <td mat-cell *matCellDef="let row">{{ row.ScanningHour }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Ilość [PC] </th>
        <td mat-cell *matCellDef="let row">{{ row.Quantity }}</td>
      </ng-container>

      <!-- QuantityKg Column -->
      <ng-container matColumnDef="QuantityKg">
        <th mat-header-cell *matHeaderCellDef> Ilość [KG] </th>
        <td mat-cell *matCellDef="let row">{{ row.QuantityKg }}</td>
      </ng-container>

      <!-- Speed Column -->
      <ng-container matColumnDef="Speed">
        <th mat-header-cell *matHeaderCellDef> Prędkość średnia [szt/min] </th>
        <td mat-cell *matCellDef="let row">{{ row.Speed }}</td>
      </ng-container>

      <!-- ChangeOvers Column -->
      <ng-container matColumnDef="ChangeOvers">
        <th mat-header-cell *matHeaderCellDef> Przezbrojenia </th>
        <td mat-cell *matCellDef="let row">{{ row.ChangeOvers }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>