
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button matTooltip="Pokaż/Ukryj menu" [ngClass]="menuOpened?'menuToggle-expanded':'menuToggle-collapsed'" id="menuToggle" mat-mini-fab color="accent" (click)="menuOpened=!menuOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <button matTooltip="Włącz/wyłącz autoodświeżanie danych" [ngClass]="settings.AutoUpdate?'autoUpdateOn':'autoUpdateOff'" id="autoUpdateToggle" mat-mini-fab color="accent" (click)="toggleAutoUpdate()">
      <mat-icon>loop</mat-icon>
    </button>
    <button matTooltip="Włącz/wyłącz przełączanie zakładek" [ngClass]="settings.TabSwitch?'tabSwitchOn':'tabSwitchOff'" id="tabSwitchToggle" mat-mini-fab color="accent" (click)="toggleTabSwitch()">
      <mat-icon>swap_horizontal_circle</mat-icon>
    </button>
    <span class="title"><h1>Tablica wydajności</h1></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="menuOpened" role="navigation">
      <app-machines></app-machines>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>