<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button matTooltip="Eksportuj do Excela" class="btn" id="tabToExcel" mat-mini-fab color="accent" (click)="exportToExcel()">
      <mat-icon>download</mat-icon>
    </button>
    <button matTooltip="Zmień zakres dni planu (domyślnie 7)" class="btn" id="changePlanCoverageScope" mat-mini-fab (click)="changePlanCoverageScope()">
      <mat-icon>calendar</mat-icon>
    </button>
    <button matTooltip="Pokaż/urkyj pokrycie planu dostawami" class="btn" [ngClass]="settings.PlanCoverageByDeliveries?'button-on':'button-off'" id="planCoverageByDeliveriesToggle" mat-mini-fab color="accent" (click)="toggleDeliveriesCoverage()">
      <mat-icon>moped</mat-icon>
    </button>
    <span class="title"><h1>Plan komponentów</h1></span>
    <div class="navbar-brand">
      <img id="logo" src="../linetracker/assets/JDE_CORP_MARK_RGB.png">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-planned-components-grid></app-planned-components-grid>