<h2 mat-dialog-mat-dialog-title>{{VT.L}} - {{VT.TotalPallets}} palet</h2>
  <div class="vt-items-container">
    <table mat-table [dataSource]="VT.Parts" class="perf-table" id="perf-table">
      
      <!-- START_DATE Column -->
      <ng-container matColumnDef="START_DATE">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let row">{{ row.START_DATE | date: 'yyyy-MM-dd' }}</td>
      </ng-container>

      <!-- STOP_DATE Column -->
      <ng-container matColumnDef="STOP_DATE">
        <th mat-header-cell *matHeaderCellDef> Koniec </th>
        <td mat-cell *matCellDef="let row">{{ row.STOP_DATE | date: 'yyyy-MM-dd' }}</td>
      </ng-container>

      <!-- PRODUCT_NR Column -->
      <ng-container matColumnDef="PRODUCT_NR">
        <th mat-header-cell *matHeaderCellDef> Produkt </th>
        <td mat-cell *matCellDef="let row">{{ row.PRODUCT_NR }}</td>
      </ng-container>

      <!-- PAL Column -->
      <ng-container matColumnDef="PAL">
        <th mat-header-cell *matHeaderCellDef> Pal </th>
        <td mat-cell *matCellDef="let row">{{ row.PAL.toFixed(0) }}</td>
      </ng-container>

      <!-- MACHINE_NAME Column -->
      <ng-container matColumnDef="MACHINE_NAME">
        <th mat-header-cell *matHeaderCellDef> Maszyna </th>
        <td mat-cell *matCellDef="let row">{{ row.MACHINE_NAME }}</td>
      </ng-container>

      <!-- ORDER_NR Column -->
      <ng-container matColumnDef="ORDER_NR">
        <th mat-header-cell *matHeaderCellDef> Zlecenie </th>
        <td mat-cell *matCellDef="let row">{{ row.ORDER_NR }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>