.vt-items-container{
    display: flex;
    position: relative;
    padding: 0%;
    height: 100%;
  }

.mat-row{
  height: auto;
}

/* Structure */
.mat-header-cell{
    font-style: normal;
    font-weight: 500;
    padding: 20px !important;
    font-size: 1em;
    color: black !important;
  }
  
  .mat-cell{
    font-size: 1em;
    margin: 25px !important;
    padding: 20px !important;
    color: black !important;
  }
  
  .main-container {
      position: relative;
      min-height: 200px;
    }
    
    .perf-table-container {
      position: relative;
      overflow: auto;
      margin-top: 3em;
    }
    
    table {
      width: 100%;
    }
    
    .non-divider{
      color: white !important;
    }
    
  
  th{
    white-space: unset !important;
    word-wrap: break-word !important;
    max-width: 80px !important;
  }

  mat-icon{
    margin-right:  10px;
}

.gray-icon {
    color: gray;
}

.green-icon {
    color: green;
}