<div class="container">
  <h2 mat-dialog-mat-dialog-title>PO: <b>{{delivery.PurchaseOrder}}</b></h2>
  <h4>Dostawca: <b>{{delivery.Vendor}}</b></h4>
  <div class="delivery-items-container">
    <div *ngIf="delivery!=undefined"> 
      <div class="ag-theme-balham">
        <ag-grid-angular 
        class="ag-theme-balham"
        [rowData]="delivery.Items"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
  
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
</div>

