<div *ngIf="PlannedComponentsSchedule!=undefined"> 
    <div style="width: 800px; height: 800px" class="ag-theme-balham">
      <ag-grid-angular 
      style="width: 1200px; height: 800px"
      class="ag-theme-balham"
      [rowData]="PlannedComponentsSchedule"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
</div>

<div>
  <div *ngIf="PlannedComponentsSchedule!=undefined"> 
    <div *ngIf="PlannedComponentsSchedule.length > 0">

    </div>
    <div class="no-records" *ngIf="PlannedComponentsSchedule.length === 0">
      Brak danych
    </div>
  </div>
</div>
