  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [routerLink]="['/linePerformance']"><img src="assets/favicon.png"/>Tablica wydajności</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/components']"><img src="assets/gantt_black.png"/>Plan komponentów</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/trucks']"><img src="assets/gantt.png"/>Planowane samochody</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/planbylocation']"><img src="assets/destinations.png"/>Plan wg lokacji</mat-grid-tile>
  </mat-grid-list>
